apiVersion: v1
data:
  promtail-config.yml: |
    server:
      http_listen_port: 9080

    positions:
      filename: /tmp/positions.yaml

    clients:
      - url: http://loki:3100/loki/api/v1/push

    scrape_configs:
      - job_name: transaction-validator-logs
        static_configs:
          - targets:
              - localhost
            labels:
              job: transaction-validator
              __path__: /var/logs/*.log
kind: ConfigMap
metadata:
  annotations:
    use-subpath: "true"
  labels:
    io.kompose.service: promtail
  name: promtail-cm1
